{% extends 'products/base.html' %}

{% block title %}
    {{ title }}
{% endblock  %}


{% block content %}
    <h1> Home Page </h1>
    <div class="col-md-12">

        <div class="col-md-8">
            {% if request.user.is_authenticated %}
                {{ content }} Mr. <b>{{ request.user.username  }}</b>
            {% else %}
                We know you have a name, Please <a href="{% url 'login-route' %}"> Login </a> !!!
            {% endif %}
        </div>
    </div>
{% endblock  %}